/thesis/libro.aux
/thesis/libro.bbl
/thesis/libro.blg
/thesis/libro.lof
/thesis/libro.log
/thesis/libro.lol
/thesis/libro.lot
/thesis/libro.out
/thesis/libro.toc
/src/.ipynb_checkpoints/
/src/__pycache__/
/src/lib/.ipynb_checkpoints/
/src/lib/__pycache__/
/src/test/__pycache__/
/src/tmp/
/src/wandb/
/src/lib/__init__.py
/src/data/
/data/
.ropeproject
.ruff_cache
.mypy_cache
/src/integration_tests/__pycache__/
/remote_dev/custom_env_squijano
/.env
/wandb/
/wandb_data/
/src/benchmarks/__pycache__/
/thesis/scopus_diagrams/.ipynb_checkpoints/
/thesis/.venv/
