/thesis/libro.aux
/thesis/libro.bbl
/thesis/libro.blg
/thesis/libro.lof
/thesis/libro.log
/thesis/libro.lol
/thesis/libro.lot
/thesis/libro.out
/thesis/libro.toc
/src/.ipynb_checkpoints/
/src/__pycache__/
/src/lib/.ipynb_checkpoints/
/src/lib/__pycache__/
/src/test/__pycache__/
/src/tmp/
/src/wandb/
/src/lib/__init__.py
/src/data/
/data/
.ropeproject
.ruff_cache
.mypy_cache
/src/integration_tests/__pycache__/
/remote_dev/custom_env_squijano
/.env
/wandb/
/wandb_data/
/src/benchmarks/__pycache__/
/.venv/
/.worktree/
/src/__init__.py
/cached_augmented_dataset.pt
/.ipynb_checkpoints/
/cached_models/
/tmp/
/training.log
/thesis/scopus_diagrams/.ipynb_checkpoints/
/thesis/.venv/
dissertation/dissertation.aux
dissertation/dissertation.log
dissertation/dissertation.nav
dissertation/dissertation.out
dissertation/dissertation.snm
dissertation/dissertation.toc
dissertation/informatica.aux
dissertation/matematicas.aux
